.Btn-reset, %Btn-reset{
	border: none;
	outline: none;
}

/*
.Btn-square, %Btn-square{
	@extend %Btn-reset;
	border-radius: 3px;
	border: 1px solid #ddd;
	width: em(44);
	height: em(34);
	&:hover{
		border: 1px solid #999;	
	}
}

.Btn-social, %Btn-social{
	@extend %Btn-reset;
	$fs: 13;
	font-size: em($fs);
	color: #fff;
	font-weight: 700;
	height: em(34, $fs);
	text-align: center;
	border-radius: 3px;
	line-height: em(34, $fs);
	padding: 0 em(15, $fs) 0 em(34, $fs);
}

.Btn-upArrow{
	@extend %Btn-square;
	background: url("../img/arrows.png") no-repeat;
	&.active{
		background: url(../img/arrows.png) no-repeat -42px 0;
	}
}

.Btn-downArrow{
	@extend %Btn-square;
	background: url("../img/arrows.png") no-repeat 0 -32px;
	&.active{
		background: url(../img/arrows.png) no-repeat -42px 0;
	}
}

.Btn-comment{
	@extend %Btn-square;
	background: url("../img/extra-btns.png") no-repeat 0 -32px;
}

.Btn-fb{
	@extend %Btn-social;
	background: #3b5998 url("../img/social-white.png") no-repeat;
	&:hover{
		background-color: #4c70ba;
	}
}

.Btn-twitter{
	@extend %Btn-social;
	background: #00aced url("../img/social-white.png") no-repeat 0 -34px;
	&:hover{
		background-color: #21c2ff;
	}
}
*/