// Layout
//-----------------------
$site-width: 1600;
$page-width: 900;

// Font sizes
//-----------------------
$fz-xsml: 10;
$fz-vsml: 12;
$fz-sml: 13;
$fz-msml: 14;
$fz-default: 16;
$fz-med: 17;
$fz-lge: 22;
$fz-vlge: 30;
$fz-xlge: 44;

// Colors
//-----------------------
$c-orange: orange;

// Font family
//-----------------------
$ff-content: 'Lato', Arial, Helvetica, sans-serif;